<div class="container mt-5">
    <h5 class="mb-5">Pedidos que se estan realizando en estos momentos</h5>
    <div class="row">
        <div class="col-md-7">
            <mat-card class="example-card">
                <mat-card-header>
                    <img mat-card-avatar class="card-header-image" src="https://material.angular.io/assets/img/examples/shiba1.jpg">
                    <mat-card-title>nombre del mensajero</mat-card-title>
                    <mat-card-subtitle>Mensajero</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <div class="row">
                        <div class="col-md-1">
                           <span class="fa fa-circle-o" color="primary"></span>
                        </div>
                        <div class="col-md-11">
                            <strong><span>Recoger en:</span></strong>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, vero!</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-1">
                           <span class="fa fa-circle" color="primary"></span>
                        </div>
                        <div class="col-md-11">
                            <strong><span>Entregar en:</span></strong>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, vero!</p>
                        </div>
                    </div>
                </mat-card-content>
                <mat-card-actions>
                    <a mat-button>WhatsApp&nbsp;&nbsp;<span class="fa fa-whatsapp"></span></a>
                    <button mat-button color="primary">Mapa&nbsp;&nbsp;<span class="fa fa-map-marker"></span></button>
                </mat-card-actions>
            </mat-card>
        </div>
        <div class="col-md-5">

        </div>
    </div>
</div>