<div class="container mt-5">
    <button mat-raised-button (click)="openDialog()" class="mb-4">Agregar Mensajero</button>
    <div class="row">
        <div class="col-md-8">
            <p class="font-weight-light text-wrap">Mensajeros Registrados </p>
            <div class="mat-elevation-z2">
                <table mat-table [dataSource]="dataSource" class="w-100" MatSort>
                    <ng-container matColumnDef="No">
                        <th mat-header-cell *matHeaderCellDef> No. </th>
                        <td mat-cell *matCellDef="let item; let i = index;"> {{(i+1)}} </td>
                    </ng-container>

                    <ng-container matColumnDef="Nombre">
                        <th mat-header-cell *matHeaderCellDef> Nombre </th>
                        <td mat-cell *matCellDef="let item"> {{item.nombre}} </td>
                    </ng-container>

                    <ng-container matColumnDef="Cedula">
                        <th mat-header-cell *matHeaderCellDef> Cedula </th>
                        <td mat-cell *matCellDef="let item"> {{item.cedula}} </td>
                    </ng-container>

                    <ng-container matColumnDef="Telefono">
                        <th mat-header-cell *matHeaderCellDef> Telefono </th>
                        <td mat-cell *matCellDef="let item"> {{item.telefono}} </td>
                    </ng-container>

                    <ng-container matColumnDef="Disponible">
                        <th mat-header-cell *matHeaderCellDef> Disponible </th>
                        <td mat-cell *matCellDef="let item">
                            {{item.disponible ? 'Disponible' : 'Ocupado' }} </td>
                    </ng-container>

                    <ng-container matColumnDef="Ver">
                        <th mat-header-cell *matHeaderCellDef class=""> Ver</th>
                        <td mat-cell *matCellDef="let item" class="mat-column-ver">
                            <button mat-icon-button (click)="onVerMensajero(item.correo)">
                                <mat-icon class="fa fa-eye"></mat-icon>
                            </button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>

                <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
            </div>
        </div>

        <div class="col-md-4" *ngIf="DetalleMensajero">
            <mat-card class="example-card">
                <mat-card-header>
                    <img mat-card-avatar src="{{DetalleMensajero.image}}">
                    <mat-card-title>{{DetalleMensajero.nombre}}</mat-card-title>
                    <a mat-card-subtitle href="{{'https://web.whatsapp.com/send?phone=57' + DetalleMensajero.telefono}}" target="_blank" ><span class="fa fa-whatsapp"></span>&nbsp;{{DetalleMensajero.telefono}}</a>
                </mat-card-header>
                <mat-card-content>
                    <h5 class="my-3">Informacion del solicitante</h5>
                    <mat-list-item role=" list" style="align-content: left;">
                        <mat-list-item role="listitem" class="list"><strong>Nombre:</strong>&nbsp; {{DetalleMensajero.nombre}}</mat-list-item>
                        <mat-list-item role="listitem"><strong>Cedula:</strong>&nbsp; {{DetalleMensajero.cedula}}</mat-list-item>
                        <mat-list-item role="listitem"><strong>Telefono:</strong>&nbsp; {{DetalleMensajero.telefono}}</mat-list-item>
                        <mat-list-item role="listitem"><strong>Genero:</strong>&nbsp; {{DetalleMensajero.genero}}</mat-list-item>
                        <mat-list-item role="listitem"><strong>Fecha Nacimiento:</strong>&nbsp; {{DetalleMensajero.fechaNacimiento}}
                        </mat-list-item>
                    </mat-list-item>
                    <br>
                    <mat-divider></mat-divider>
                    <h5 class="my-3">Informacion del vehiculo</h5>
                    <mat-list-item role=" list" style="align-content: left;">
                        <mat-list-item role="listitem" class="list"><strong>Marca: </strong>&nbsp; {{DetalleMensajero.vehiculo.marca}}
                        </mat-list-item>
                        <mat-list-item role="listitem" class="list"><strong>Matricula: </strong>&nbsp;  {{DetalleMensajero.vehiculo.matricula}}
                        </mat-list-item>
                        <mat-list-item role="listitem" class="list"><strong>Tipo de vehiculo: </strong>&nbsp;  {{DetalleMensajero.vehiculo.tipoVehiculo}}
                        </mat-list-item>
                    </mat-list-item>
                </mat-card-content>
            </mat-card>
        </div>
    </div>