<form (ngSubmit)="form.form.valid && onSubmit()" #form="ngForm">
    <div class="margin">
        <h1 mat-dialog-title>Registrar Pedido</h1>
        <div mat-dialog-content>

            <h5>Datos del solicitante</h5>
            <mat-form-field appearance="outline" class="mat-form-field w-100">
                <mat-label>Nombre</mat-label>
                <input type="text" matInput placeholder="Digitar Nombre" [(ngModel)]="pedido.solicitante.nombre" name="nombre" required>
            </mat-form-field>
            <mat-form-field appearance="outline" class="mat-form-field w-100">
                <mat-label>Nomero de documento</mat-label>
                <input type="number" matInput placeholder="Digitar documento" [(ngModel)]="pedido.solicitante.cedula" name="cedula">
            </mat-form-field>
            <mat-form-field appearance="outline" class="mat-form-field w-100">
                <mat-label>Telefono</mat-label>
                <input type="number" matInput placeholder="Digitar Telefono" [(ngModel)]="pedido.solicitante.telefono" name="telefono" required>
            </mat-form-field>

            <h5>Datos del lugar donde se buscara el pedido</h5>
            <mat-form-field appearance="outline" class="mat-form-field w-100">
                <mat-label>Barrio</mat-label>
                <input type="text" matInput placeholder="Digitar barrio" [(ngModel)]="pedido.recepcion.barrio" name="barrioRecepcion">
            </mat-form-field>
            <mat-form-field appearance="outline" class="mat-form-field w-100">
                <mat-label>Dirección</mat-label>
                <input type="text" matInput placeholder="Digitar dirección" [(ngModel)]="pedido.recepcion.direccion" name="direccionRecepcion" required>
            </mat-form-field>
            <mat-form-field appearance="outline" class="mat-form-field w-100">
                <mat-label>Nomobre del remitente</mat-label>
                <input type="text" matInput placeholder="Digitar Nombre" [(ngModel)]="pedido.recepcion.nombre" name="nombreRemitente" required>
            </mat-form-field>
            <mat-form-field appearance="outline" class="mat-form-field w-100">
                <mat-label>Telefono del remitente</mat-label>
                <input type="number" matInput placeholder="Digitar telefono" [(ngModel)]="pedido.recepcion.telefono" name="telefonoRemitente">
            </mat-form-field>


            <h5>Datos del lugar donde se entregara el pedido</h5>
            <mat-form-field appearance="outline" class="mat-form-field w-100">
                <mat-label>Barrio</mat-label>
                <input type="text" matInput placeholder="Digitar barrio" [(ngModel)]="pedido.entrega.barrio" name="barrioEntrega">
            </mat-form-field>
            <mat-form-field appearance="outline" class="mat-form-field w-100">
                <mat-label>Dirección</mat-label>
                <input type="text" matInput placeholder="Digitar dirección" [(ngModel)]="pedido.entrega.direccion" name="direccionEntrega" required>
            </mat-form-field>
            <mat-form-field appearance="outline" class="mat-form-field w-100">
                <mat-label>Nombre del destinatario</mat-label>
                <input type="text" matInput placeholder="Digitar nombre" [(ngModel)]="pedido.entrega.nombre" name="nombreDestinatario">
            </mat-form-field>
            <mat-form-field appearance="outline" class="mat-form-field w-100">
                <mat-label>Telefono del destinatario</mat-label>
                <input type="number" matInput placeholder="Digitar telefono" [(ngModel)]="pedido.entrega.telefono" name="telefonoDestinatario">
            </mat-form-field>
        </div>

        <div mat-dialog-actions>
            <div class="w-100 clearfix">
                <button class="float-left" mat-button (click)="onNoClick()">Cerrar</button>
                <button class="float-right" cdkFocusInitial mat-raised-button color="primary" type="submit">Registrar</button>
            </div>
        </div>
    </div>
</form>
