.margin {
    padding: 3%;
    width: 1000px;
}

#contenido {
    text-align: center;

}

.custom-file-input, .custom-file{
    position: relative;
    z-index: 2;
    width: 60%;
    height: calc(1.5em + .75rem + 2px);
    margin: 0;
    margin-bottom: 15;
}

#img {
    border: 2px double rgb(175, 170, 174);
    margin-bottom: 10px;
    border-radius: 50%;
    width: 300px;
    height: 300px
}

.custon-file {
    padding: 4px;
    background-color: #1A83FF;
    border-radius: 7%;
}
